venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
output/
outputs/
runs/

# torchtitan
__pycache__
.idea
.DS_Store
*.egg-info
build
outputs
dist/*
.vscode
.vs

# data
data
out
wandb

torchtitan/torchtitan/datasets/**/*.model

# hf assets
torchtitan/assets/hf/*
torchtitan/assets/tokenizer/*
torchtitan/torchtitan/experiments/flux/assets/*

# temp files
*.log
error.json
_remote_module_non_scriptable.py

# Editor temporaries (VIM)
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
*~
.~lock.*

# macOS dir files
.DS_Store

core.*